<!--header-->
	<div class="banner ban">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<h1><a href="index.html">MPrints </a></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					<span class="menu"><%= image_tag("menu.png", :alt=>"") %></span>
					<ul class="nav1">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--header-->
	<!--content-->
		<div class="content">
			<!--about-->
				<div class="about-w3agile">
					<div class="container">
						<h2 class="tittle">About Us</h2>
						<div class="about-grids">
							<div class="col-md-6 about-grid">
								<%= image_tag("p12.jpg", :class=>"img-responsive", :alt=>"") %>
							</div>
							<div class="col-md-6 about-grid">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													About MPrints
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												What we do
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Our Goal
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<p>Consectetur adipiscing elit. Aenean consequat lacus ac turpis ullamcorper, ut ornare libero euismod. Mauris urna eros, tempus id eros vitae, accumsan tempor ligula. Maecenas gravida felis vitae dignissim porta. Quisque blandit velit vitae eros varius.Lorem ipsum dolor sit amet Praesent justo dolor, lobortis quis, lobortis dignissim </p>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												Where we are located
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula Praesent justo dolor, lobortis quis, lobortis </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--about-->
			<!--why-->
				<div class="why-w3l">
					<div class="container">
					<h3 class="tittle">Why Choose Us</h3>
						<div class="why-grids">
							<div class="col-md-6 why-grid">
								<iframe src="https://player.vimeo.com/video/124902958"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
							</div>
							<div class="col-md-6 why-grid">
								<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augu Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus</p>
								<ul>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Sed massa tellus aliquam rhoncus venenatis </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Consectetur adipiscing elit. Aenean consequat</li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Fusce euismod consequat ante. Lorem ipsum </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Magna eget scelerisque metus massa in neque </li>
									<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Sed massa tellus aliquam rhoncus venenatis </li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--why-->
			<!--teams-->
			
		</div>		
		<!--content-->
		<!--footer-->
				<div class="footer-agileinfo">
					<div class="container">
						<h3>Get In Touch</h3>
						<p class="para">We love people and we value your feedback at Mprints.</p>
						<div class="footer-grids">
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Information</h4>
									<p>We spare no expense to ensure everything runs smoothly.We color your life.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Newsletter</h4>
									<p>Sign-Up to our newsletters to receive daily or trending services at MPrints.</p>
									<form action="#" method="post">
										<input type="text" name="Your email" value="Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email';}" required="">
										<input type="submit" value="Subscribe">
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<p class="copy-right">&copy; 2017 MPrints . All rights reserved | Design by <a href="#">Tribian-Tech Ltd</a></p>
					</div>
				</div>
				<!--footer-->>