<!--header-->
	<div class="banner ban">
		<div class="container">
			<div class="header">
				<div class="header-left">
					<h1><a href="index.html">MPrints </a></h1>
				</div>
				<!-- #push_sidebar -->
				<div class="top-nav">
					<span class="menu"><%= image_tag("menu.png", :alt=>"") %></span>
					<ul class="nav1">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				</div>
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--header-->
	<!--content-->
		<div class="content">
			<!--services-->
			<div class="feature-w3l">
				<div class="container">
					<h2 class="tittle">Our services</h2>
					<div class="feature-grids">
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-book" aria-hidden="true"></i>
							</div>
								<h4>Branding</h4>
								<span></span>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
						</div>
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-print" aria-hidden="true"></i>
							</div>
								<h4>Printing</h4>
								<span></span>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
						</div>
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-fire" aria-hidden="true"></i>
							</div>
								<h4>Design</h4>
								<span></span>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--services-->
			<div class="advantages-w3l">
				<div class="container">
				<h3 class="tittle">Additional Services</h3>
					<div class="advantages-grids">
						<div class="col-md-6 advantages-grid">
							<div class="ser-img">
								<%= image_tag("P10.jpg", :class=>"img-responsive",:alt=>"") %>
							</div>
						</div>
						<div class="col-md-6 advantages-grid">
							<div class="care">
									<div class="left-grid">
										<p>01</p>
									</div>
									<div class="right-grid">
										<h4>Decking concrete Kool</h4>
										<p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
									</div>
										<div class="clearfix"></div>
							</div>
							<div class="care">
								<div class="left-grid">
									<p>02</p>
								</div>
								<div class="right-grid">
									<h4>Decking concrete Kool</h4>
									<p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="care">
								<div class="left-grid">
									<p>03</p>
								</div>
								<div class="right-grid">
									<h4>Decking concrete Kool</h4>
									<p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="service-w3ls">
				<div class="container">
					<h3 class="tittle">Services List</h3>
					<div class="ser-grids">
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Designs @ 200</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>B/C @ 4</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>A3 Posters @ 30  </li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Stickers @ 2.5</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Binding 50pgs @ 40</li>
						</ul>
						</div>
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Binding 100pgs @ 80</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>2 x 1 Banners @ 1200</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>3 X 2 Banners @ 2500</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>4 x 3 Banner @ 3000</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>B/W print/Copy @ 3</li>
						</ul>
						</div>
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Color Print/Copy @ 7</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Item Branding Services</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Free Delivery gor bulk orders</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Magna eget scelerisque metus neque </li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Sed massa tellus aliquam  venenatis </li>
						</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>		
		<!--content-->
			<!--footer-->
				<div class="footer-agileinfo">
					<div class="container">
						<h3>Get In Touch</h3>
						<p class="para">We love people and we value your feedback at Mprints.</p>
						<div class="footer-grids">
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Information</h4>
									<p>We spare no expense to ensure everything runs smoothly.We color your life.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-6 footer-grid">
								<div class="col-sm-2 footer-left">
									<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10 footer-right">
									<h4>Newsletter</h4>
									<p>Sign-Up to our newsletters to receive daily or trending services at MPrints.</p>
									<form action="#" method="post">
										<input type="text" name="Your email" value="Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email';}" required="">
										<input type="submit" value="Subscribe">
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<p class="copy-right">&copy; 2017 MPrints . All rights reserved | Design by <a href="#">Tribian-Tech Ltd</a></p>
					</div>
				</div>
				<!--footer-->