<!--header-->
   <%= render 'layouts/renders/nav' %>
<!--header-->
	<!--content-->
		<div class="content">
				<!--feature-->
			<div class="feature-w3l">
				<div class="container">
					<h3 class="tittle">Our Services</h3>
					<div class="feature-grids">
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-fire" aria-hidden="true"></i>
							</div>
								<h4>Designing:</h4>
								<span></span>
								<p>Logos, posters, banners, Announcements, UI graphics.</p>
						</div>
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
							</div>
								<h4>Printing:</h4>
								<span></span>
								<p>Stationery, posters, banners, stickers, pamphlets, eulogies, announcements, custom printing.</p>
						</div>
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-book" aria-hidden="true"></i>
							</div>
								<h4>Branding</h4>
								<span></span>
								<p>Caps, T-shirts, sweaters, jampers, school uniforms, clothing, wristbands, tags, badges.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="feature-grids">
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-camera" aria-hidden="true"></i>
							</div>
								<h4>Photography</h4>
								<span></span>
								<p>Indoor, outdoor, studio, events, parties, weddings.</p>
						</div>
						<div class="col-md-4 feature-grid">
							<div class="icons">
								<i class="glyphicon glyphicon-facetime-video" aria-hidden="true"></i>
							</div>
								<h4>Videography</h4>
								<span></span>
								<p>Parties, events, weddings, albums.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div
			<div class="advantages-w3l">
				<div class="container">
				<h3 class="tittle">Free Services/Promotions</h3>
					<div class="advantages-grids">
						<div class="col-md-6 advantages-grid">
							<div class="ser-img">
								<%= image_tag("ServicesPage.jpg", :class=>"img-responsive",:alt=>"") %>
							</div>
						</div>
						<div class="col-md-6 advantages-grid">
							<div class="care">
									<div class="left-grid">
										<p>01</p>
									</div>
									<div class="right-grid">
										<h4>Free Packaging</h4>
										<p>Free packaging for all tangible products after sales.</p>
									</div>
										<div class="clearfix"></div>
							</div>
							<div class="care">
								<div class="left-grid">
									<p>02</p>
								</div>
								<div class="right-grid">
									<h4>Free Delivery</h4>
									<p>To right where you need it delivered.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="care">
								<div class="left-grid">
									<p>03</p>
								</div>
								<div class="right-grid">
									<h4>Subsidized rates</h4>
									<p>We know you work really hard,and we'll reward you with the best and most friendly rates for all your bulk orders.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="service-w3ls">
				<div class="container">
					<h3 class="tittle">Services List</h3>
					<div class="ser-grids">
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Poster designs & prints</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>B/s card designs & Prints</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Banner ad designs & prints </li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>App UI illustrations</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Certificates</li>
						</ul>
						</div>
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>T-shirt & headwear designs & prints</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Promotional items design and brand</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Labels</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Namecards</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Signage</li>
						</ul>
						</div>
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Stationary</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Letterheads</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Bronchures and FLiers</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Restaurant Menus</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Newspaper design</li>
						</ul>
						</div>
						<div class="col-md-4 ser-grid">
						<ul>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Copy and Scan</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Comprehensive photography and videography</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Eulogies & announcements </li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Binding</li>
							<li><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i>Lamination</li>
						</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>		
		<!--content-->
