<!DOCTYPE html>
<html>
  <head>
    <title>The Mprints</title>
    <%= render 'layouts/renders/rails-default' %>
  </head>
  <body>
        <%= yield %>
        <%= render 'layouts/renders/footer' %>
  </body>
</html>
